# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code settings
.vscode/

# Custom folders
extra/
LunarLander_old/
wandb/
runs/
# General system files to ignore
.DS_Store
Thumbs.db
